<%- include("../../partials/header"); %>
    <%- include("../../partials/navbar.ejs"); %>

        <body>
            <div class="container">
                <div class="card bg-light m-2">
                    <div class="card-header dark-bg p-4">
                        <h2 class="p-2 mt-2 text-white">Cadastro de Artigo</h2>
                    </div>
                    <div class="card-body p-4">
                        <form method="POST" action="/articles/save" class="p-2 m-2">
                            <label>Título do Artigo:</label>
                            <input type="text" name="title" placeholder="Defina o título do artigo"
                                class="form-control p-1"><br>
                            <textarea class="form-control p-1" name="body" id="article-textarea"
                                placeholder="Escreva o artigo aqui!"></textarea>
                            <label class="m-1">Categoria:</label>
                            <select name="category" class="form-control">
                                <% categories.forEach((category)=> { %>
                                    <option value="<%= category.id %>">
                                        <%= category.title %>
                                    </option>
                                    <% })%>
                            </select>
                            <hr>
                            <button class="btn btn-secondary">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </body>
        <%- include("../../partials/footer.ejs"); %>
            <script src="/tinymce/tinymce.min.js"></script>
            <script>
                tinymce.init({
                    language: 'pt_BR',
                    selector: "#article-textarea",
                    plugins: [
                        'advlist autolink link image list print preview hr searchplace wordcount fullscreen insertdatetime media save'
                    ]
                })
            </script>