<%- include("../../partials/header"); %>
    <%- include("../../partials/navbar.ejs"); %>

        <body>
            <div class="container">
                <div class="card bg-light m-2">
                    <div class="card-header dark-bg p-4">
                        <h2 class="p-2 mt-2 text-white">Edição de artigo</h2>
                    </div>
                    <div class="card-body p-4">
                        <form method="POST" action="/articles/update" class="p-2 m-2">
                            <label>Título do Artigo:</label>
                            <input type="text" name="title" value="<%= article.title %>"
                                placeholder="Defina o título do artigo" class="form-control p-1">
                            <br>
                            <textarea class="form-control p-1" name="body" id="textarea"
                                placeholder="Escreva o artigo aqui!"><%- article.body %></textarea>
                            <label class="m-1">Categoria:</label>
                            <select name="category" class="form-control">
                                <% categories.forEach((category)=> { %>
                                    <% if(category.id==article.categoryId) {%>
                                        <option value="<%= category.id %>" selected>
                                            <%= category.title %>
                                        </option>
                                        <% } else { %>
                                            <option value="<%= category.id %>">
                                                <%= category.title %>
                                            </option>
                                            <% } %>
                                                <% })%>
                            </select>
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <hr>
                            <button class="btn btn-secondary">Atualizar</button>
                        </form>
                    </div>
                </div>
            </div>
        </body>
        <%- include("../../partials/footer.ejs"); %>
            <script src="/tinymce/tinymce.min.js"></script>
            <script>
                tinymce.init({
                    language: "pt_BR",
                    selector: "#textarea",
                    activeEditor: true,
                    plugins: [
                        "advlist autolink link lists image print preview hr searchplace wordcount fullscreen insertdatetime media save table paste emoticons"
                    ]
                })
            </script>